.navbar {
  background-color: #ffe6f7;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ff4da6;
  font-size: 28px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 30px;
  text-decoration: none;
  color: #444;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff4da6;
}
.logout-btn {
  padding: 6px 14px;
  border-radius: 20px;
  background-color: #ff4d4d;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #e60000;
}

.logout-page {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
